- point1
  - subpoint1
- point2
- point3

In [3]:
a=10
print (a)

10
80

In [1]:
a=["apple","mango",22,88]
print(a)def

['apple', 'mango', 22, 88]

after github

In [3]:
num=12
print("Wow ! [12] is an amazing number !")

Wow ! [12] is an amazing number !

In [1]:
square=10
print(square**2)

100

In [3]:
a=int(input("enter any num:"))
print(a**2)

9

In [4]:
your_name="saumya singh"
your_friends_name="mokika"
your_favorite_food="milk"
print("hi,I am [saumya singh].This is my friend[friend's monika],and we both love[food]!")

hi,I am [saumya singh].This is my friend[friend's monika],and we both love[food]!

In [6]:
# write a program to print all the even num between 1 to 50.
if i in range(1,51):
    if i%2==0:
        print("even num")

NameError: name 'i' is not defined