- point1
  - subpoint1
- point2
- point3

In [3]:
a=10
print (a)

10
80

In [1]:
a=["apple","mango",22,88]
print(a)def

['apple', 'mango', 22, 88]

after github

In [3]:
num=12
print("Wow ! [12] is an amazing number !")

Wow ! [12] is an amazing number !

In [1]:
square=10
print(square**2)

100

In [3]:
a=int(input("enter any num:"))
print(a**2)

9

In [4]:
your_name="saumya singh"
your_friends_name="mokika"
your_favorite_food="milk"
print("hi,I am [saumya singh].This is my friend[friend's monika],and we both love[food]!")

hi,I am [saumya singh].This is my friend[friend's monika],and we both love[food]!

In [4]:
print(''' python is fun.\n "Quotes" and 'single Quotes' can be tricly.''')

 python is fun.
 "Quotes" and 'single Quotes' can be tricly.

In [5]:
name="saumya"
age=67
city="jaypur"
print(f" my name is {name} from {city} i'm {age}.")

 my name is saumya from jaypur i'm 67.

In [7]:
num=26
num1=str(num)
print(num1)
print(type(num1))

26
<class 'str'>

In [9]:
a=45
b=float(a)
print(b)
print(type(b))

45.0
<class 'float'>