In [2]:
student={
    "name":"mushkan",
    "age":23,
    "city":"jaypur",
    "marks":56
}
print(student)

{'name': 'mushkan', 'age': 23, 'city': 'jaypur', 'marks': 56}

how to declear it
how to access key and values of a dictionary
how to use loops in dict
indexing in dict

In [3]:
student={
    "name":"mushkan",
    "age":23,
    "city":"jaypur",
    "marks":56,
    "class":"python"
}
print(student)

{'name': 'mushkan', 'age': 23, 'city': 'jaypur', 'marks': 56, 'class': 'python'}

In [4]:
temp={
    "lucknow":[23,45,67],
    "delhi":[23,12,56],
    "mumbai":[35,50,40]
}
print(temp)

{'lucknow': [23, 45, 67], 'delhi': [23, 12, 56], 'mumbai': [35, 50, 40]}

In [7]:
info=dict(name="john", age=18,rollnum=12,marks=60)
print(info)

{'name': 'john', 'age': 18, 'rollnum': 12, 'marks': 60}

In [8]:
info2=dict(name=input("enter name:"),age=int(input("enter age:")),rollno=int(input("enter rollnn:")),marks=int(input("enter marks:")))
print(info2)

{'name': 'saumya', 'age': 56, 'rollno': 12, 'marks': 89}

In [10]:
# 1st method to access value through its key
print(info2["name"])
print(info2["age"])

saumya
56

In [11]:
# 2nd method to access value through its key
print(info2.get("name"))
print(info2.get("marks"))

saumya
89

In [12]:
# to add item  in a dict
student["collage"]="srmu"
print(student)

{'name': 'mushkan', 'age': 23, 'city': 'jaypur', 'marks': 56, 'class': 'python', 'collage': 'srmu'}

In [14]:
print(student.keys())
print(student.values())

dict_keys(['name', 'age', 'city', 'marks', 'class', 'collage'])
dict_values(['mushkan', 23, 'jaypur', 56, 'python', 'srmu'])

In [15]:
for k in student:
    print(k)

name
age
city
marks
class
collage

In [17]:
for k,v in student.items():
    print(k,v)

name mushkan
age 23
city jaypur
marks 56
class python
collage srmu

In [25]:
# nested dict
company={
    "emp001":{
        "name":"john",
        "age":78,
        "dept":"HR"
    },
    "emp002":{
        "name":"doe",
        "age":75,
        "dept":"IT"
    },
    "emp003":{
        "name":"saumya",
        "age":23,
        "dept":"Finance"
    }
}
print(company)
print(company["emp001"])
print(company["emp003"])

{'emp001': {'name': 'john', 'age': 78, 'dept': 'HR'}, 'emp002': {'name': 'doe', 'age': 75, 'dept': 'IT'}, 'emp003': {'name': 'saumya', 'age': 23, 'dept': 'Finance'}}
{'name': 'john', 'age': 78, 'dept': 'HR'}
{'name': 'saumya', 'age': 23, 'dept': 'Finance'}

In [24]:
from pprint import pp
pp(company)

{'emp001': {'name': 'john', 'age': 78, 'dept': 'HR'},
 'emp002': {'name': 'doe', 'age': 75, 'dept': 'IT'},
 'emp003': {'name': 'saumya', 'age': 23, 'dept': 'Finance'}}

In [26]:
# indexing
print(company["emp002"]["age"])

75

In [28]:
print(temp["lucknow"][1])
print(temp["delhi"][2])

45
56

In [5]:
temp={
    "lucknow":[23,45,67],
    "delhi":[33,43,66],
    "mumbai":[35,50,40]
}
print("Average Temperature of Delhi is:",sum(temp['delhi'])/len(temp['delhi']))

Average Temperature of Delhi is: 47.333333333333336

In [13]:
chai_types={"masala":"spicy","Ginger": "Zesty","Green":"mild"}
print(chai_types)
chai_types["masala"]
chai_types["Ginger"]

{'masala': 'spicy', 'Ginger': 'Zesty', 'Green': 'mild'}

'Zesty'

In [15]:
chai_types["masala"]="cold"
print(chai_types)

{'masala': 'cold', 'Ginger': 'Zesty', 'Green': 'mild'}