In [1]:
a= ["apple","mango","orange","banana"]
for i in a:
    print(i)

apple
mango
orange
banana

In [4]:
name="saumya singh"
for i in name:
    print(i)

s
a
u
m
y
a

s
i
n
g
h

In [5]:
name="saumya"
for i in name:
    print(i,end="😍")

s😍a😍u😍m😍y😍a😍

In [6]:
for num in range(5):
    print(num)

0
1
2
3
4

In [11]:
for i in range(10):
    print("saumya")

saumya
saumya
saumya
saumya
saumya
saumya
saumya
saumya
saumya
saumya

In [13]:
i=0
while i <5:
    print(i)
    i+=1

0
1
2
3
4

In [14]:
for i in range(5):
    print(i)

0
1
2
3
4

In [1]:
#  while loop
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [6]:
x=10
while x>=1:
    print(x)
    x-=1

10
9
8
7
6
5
4
3
2
1

In [19]:
i=1
while i<=10:
    print("saumya")
    i+=1

saumya
saumya
saumya
saumya
saumya
saumya
saumya
saumya
saumya
saumya

In [18]:
i=1
while i<=20:
    print("mushkan good😍😍",end=" ")
    i+=1

mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍

In [25]:
# print numbers from 1 to 100.use while loop.
i=1
while i<=100:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [27]:
# prints numbers from 100 t0 1.use while loop.
i=100
while i>=1:
    print(i)
    i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [9]:
#print the elements of the following list using a loop:
#[1,4,6,16,25,36,49,64,81,100]
a=[1,4,9,16,25,36,49,64,81,100]
i=0
while i < len(a):
    print(a[i])
    i += 1

1
4
9
16
25
36
49
64
81
100

In [1]:
# Break keyword
i=1
while i<=5:
    print(i)
    if(i==3):
        break
    i +=1

1
2
3

In [5]:
i=1
while i<=10:
    print(i)
    if(i%2==0):
        break
    i +=1

1
2

In [3]:
i=1
while i <=5:
    if(i==3):
        i+=1
        continue
    print(i)
    i+=1

1
2
4
5

In [4]:
# print odd num.
i=1
while i<=10:
    if(i%2==0):
        i+=1
        continue
    print(i)
    i +=1

1
3
5
7
9

In [5]:
i=1
while i<=10:
    if(i%2!=0):
        i +=1
        continue
    print(i)
    i +=1

2
4
6
8
10

In [6]:
items=[1,2,5,6,7,8,4,3]
for i in items:
    print(i)

1
2
5
6
7
8
4
3

In [9]:
items=[1,2,5,6,7,8,4,3]
for i in items:
    print(i,end="😒 ")

1😒 2😒 5😒 6😒 7😒 8😒 4😒 3😒

In [10]:
str="apnacollage"
for i in str:
    print(i)

a
p
n
a
c
o
l
l
a
g
e

In [11]:
list=[1,4,9,16,25,36,49,64,81,100]
for i in list:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [12]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
# print 2 to 100 even num.
for i in range(2,101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [14]:
for i in range(1,100,2):
    print(i)l

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [15]:
# useing for range ()
# print numbers from 1 to 100.
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [17]:
# print numbers from 100 to 1.
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [18]:
n=int(input ("enter any num:"))
for i in range(1,11):
    print(n*i)

6
12
18
24
30
36
42
48
54
60

In [11]:
# counting positive number.
#numbers=[1,-2,3,-4,5,6,-7,-8,9,10]
numbers=[1,-2,3,-4,5,6,-7,-8,9,10]
a = 0
for i in numbers:
    if i > 0 :
        a += 1
print("final count of positive number is: ",a)

final count of positive number is:  6

In [6]:
#print the number 1 to 5.
#output find out 1 2 3 4 5.
for i in range(1,6):
    print(i,end=" ")

1 2 3 4 5

In [7]:
# print square numbers from 1 to 5.
# expected output 1 4 9 16 25.
for i in range(1,6):
    print(i**2, end=" ")

1 4 9 16 25

In [8]:
# print even numbers from 1 to 10.
# expected output 2 4 6 8 10.
for i in range(1,11):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10

In [11]:
# WAP to calculate the sum numbers from 1 to 10.
totel=0
for i in range(1,11):
    totel +=i
print(f'sum is {totel}')

sum is 55

In [15]:
# WAP to print the word "python" in reverse using a for loop.
word="python"
for i in range(len(word) -1,-1,-1):
    print(word[i],end=" ")

n o h t y p

In [16]:
#WAP to count the num of vowels in the word "education" .
vowels="aeiou"
word="education"
count=0
for i in word:
    if i in vowels:
        count +=1
print(f'totel vowels in {word} is {count}')

totel vowels in education is 5

In [1]:
i=10
while(i):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [4]:
for _ in range(4):
    print(_)

0
1
2
3

In [5]:
for i in range(10):
    pass

In [6]:
for i in range(3):
    for j in range(3):
        if j==1:
            break
        print(f'i={i},j={j}')

i=0,j=0
i=1,j=0
i=2,j=0

In [8]:
for i in range(6):
    if i==5:
        continue
    print(i)

0
1
2
3
4

In [1]:
i=1
while i<10:
    print(i)
    if i==5:
        break
    i=i+1

1
2
3
4
5

In [9]:
# WAP to print the first 10 term of the fibonacci sequence.
a=0
b=1
print(a,b,end=" ")
for i in range(8):
    c=a+b
    print(c,end=" ")
    a,b=b,c

0 1 1 2 3 5 8 13 21 34

In [20]:
# WAP to calculate the factorial of a given numbers,such as 5.
n=5
factorial=1
for i in range(1,n+1):
    factorial *=i
    print(f"fectorial of {n} is {fectorial}")

NameError: name 'fectorial' is not defined

QUESTION 1=While loop Question.

In [23]:
#WAP to print numbers from 10 to 15 useing a while loop.
num=10
while num<=15:
    print(num,end=" ")
    num +=1

10 11 12 13 14 15

In [24]:
# write a program to print the cubes of numbers from 1 to 5.
i=1
while i <=5:
    print(i**3,end=" ")
    i +=1

1 8 27 64 125

In [ ]:
# write a program to print the odd num 1 to 10.
num=1
while num<=10:
    if num%2 !=0:
        print(num,end=" ")
        num +=1

1

In [ ]:
# write a program to calculte the product of num from 1 to 5.
product=1
num=1
while num<=5:
    product *=num
    num +=1
    print(product)

In [2]:
for i in range(1,21,3):
    print(i,end=" ")

1 4 7 10 13 16 19

In [4]:
for i in range(1,21):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [21]:
for i in range(0,21,2):
    print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20

In [20]:
for i in range(5,11):
    for j in range(1,11):
        print(i, "x",j,"=",i*j)
        print("\n")

5 x 1 = 5


5 x 2 = 10


5 x 3 = 15


5 x 4 = 20


5 x 5 = 25


5 x 6 = 30


5 x 7 = 35


5 x 8 = 40


5 x 9 = 45


5 x 10 = 50


6 x 1 = 6


6 x 2 = 12


6 x 3 = 18


6 x 4 = 24


6 x 5 = 30


6 x 6 = 36


6 x 7 = 42


6 x 8 = 48


6 x 9 = 54


6 x 10 = 60


7 x 1 = 7


7 x 2 = 14


7 x 3 = 21


7 x 4 = 28


7 x 5 = 35


7 x 6 = 42


7 x 7 = 49


7 x 8 = 56


7 x 9 = 63


7 x 10 = 70


8 x 1 = 8


8 x 2 = 16


8 x 3 = 24


8 x 4 = 32


8 x 5 = 40


8 x 6 = 48


8 x 7 = 56


8 x 8 = 64


8 x 9 = 72


8 x 10 = 80


9 x 1 = 9


9 x 2 = 18


9 x 3 = 27


9 x 4 = 36


9 x 5 = 45


9 x 6 = 54


9 x 7 = 63


9 x 8 = 72


9 x 9 = 81


9 x 10 = 90


10 x 1 = 10


10 x 2 = 20


10 x 3 = 30


10 x 4 = 40


10 x 5 = 50


10 x 6 = 60


10 x 7 = 70


10 x 8 = 80


10 x 9 = 90


10 x 10 = 100

In [24]:
i=0
while i<=10:
    print("saumya",end=" ")
    i+=1

saumya saumya saumya saumya saumya saumya saumya saumya saumya saumya saumya

In [31]:
i=2
while i<=20:
    if i%2==0:
        print(i)
        i+=2

2
4
6
8
10
12
14
16
18
20

Break and continue

In [35]:
fruits=["orange","apple","banana","kiwi","ladyfinger","mango"]
for i in fruits:
    if i=='ladyfinger':
        break
    print(i)

orange
apple
banana
kiwi

In [34]:
fruits=["orange","apple","banana","kiwi","ladyfinger","mango"]
for i in fruits:
    if i=='ladyfinger':
        continue
    print(i)

orange
apple
banana
kiwi
mango

In [1]:
# WAP to print all the even numbers between 1 to 50.
for i in range(1,51):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [10]:
# Given a list of numbers, count how many are positive.
numbers=[1,2,-3,-4,5,-6,-7,-8,9,10]
positive_number_count=0
for num in numbers:
    if num > 0:
        positive_number_count += 1
        print("Final count of positive number is:", positive_number_count)

Final count of positive number is: 1
Final count of positive number is: 2
Final count of positive number is: 3
Final count of positive number is: 4
Final count of positive number is: 5

In [12]:
# calculate the sum of even number upn to a given number n.
n=int(input("enter any num:"))
even_sum=0
for i in range(1,n+1):
    if i%2==0:
        even_sum += 1
print("sum of even number is:",even_sum)

sum of even number is: 5

In [16]:
# print the table.
n=int(input("enter any num:"))
for i in range(1,11):
    print(i*n)

9
18
27
36
45
54
63
72
81
90

In [ ]:
# print  the multiplication table for a given number up to 10, but the fifth iteration.