In [1]:
a= ["apple","mango","orange","banana"]
for i in a:
    print(i)

apple
mango
orange
banana

In [4]:
name="saumya singh"
for i in name:
    print(i)

s
a
u
m
y
a

s
i
n
g
h

In [5]:
name="saumya"
for i in name:
    print(i,end="😍")

s😍a😍u😍m😍y😍a😍

In [6]:
for num in range(5):
    print(num)

0
1
2
3
4

In [11]:
for i in range(10):
    print("saumya")

saumya
saumya
saumya
saumya
saumya
saumya
saumya
saumya
saumya
saumya

In [13]:
i=0
while i <5:
    print(i)
    i+=1

0
1
2
3
4

In [14]:
for i in range(5):
    print(i)

0
1
2
3
4

In [1]:
#  while loop
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [6]:
x=10
while x>=1:
    print(x)
    x-=1

10
9
8
7
6
5
4
3
2
1

In [19]:
i=1
while i<=10:
    print("saumya")
    i+=1

saumya
saumya
saumya
saumya
saumya
saumya
saumya
saumya
saumya
saumya

In [18]:
i=1
while i<=20:
    print("mushkan good😍😍",end=" ")
    i+=1

mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍 mushkan good😍😍

In [25]:
# print numbers from 1 to 100.use while loop.
i=1
while i<=100:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [27]:
# prints numbers from 100 t0 1.use while loop.
i=100
while i>=1:
    print(i)
    i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [9]:
#print the elements of the following list using a loop:
#[1,4,6,16,25,36,49,64,81,100]
a=[1,4,9,16,25,36,49,64,81,100]
i=0
while i < len(a):
    print(a[i])
    i += 1

1
4
9
16
25
36
49
64
81
100

In [1]:
# Break keyword
i=1
while i<=5:
    print(i)
    if(i==3):
        break
    i +=1

1
2
3

In [2]:
i=1
while i<=10:
    print(i)
    if(i%2==0):
        break
    i +=1

1
2

In [3]:
i=1
while i <=5:
    if(i==3):
        i+=1
        continue
    print(i)
    i+=1

1
2
4
5

In [4]:
# print odd num.
i=1
while i<=10:
    if(i%2==0):
        i+=1
        continue
    print(i)
    i +=1

1
3
5
7
9

In [5]:
i=1
while i<=10:
    if(i%2!=0):
        i +=1
        continue
    print(i)
    i +=1

2
4
6
8
10

In [6]:
items=[1,2,5,6,7,8,4,3]
for i in items:
    print(i)

1
2
5
6
7
8
4
3

In [9]:
items=[1,2,5,6,7,8,4,3]
for i in items:
    print(i,end="😒 ")

1😒 2😒 5😒 6😒 7😒 8😒 4😒 3😒

In [10]:
str="apnacollage"
for i in str:
    print(i)

a
p
n
a
c
o
l
l
a
g
e

In [11]:
list=[1,4,9,16,25,36,49,64,81,100]
for i in list:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [12]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
# print 2 to 100 even num.
for i in range(2,101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [14]:
for i in range(1,100,2):
    print(i)l

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [15]:
# useing for range ()
# print numbers from 1 to 100.
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [17]:
# print numbers from 100 to 1.
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [18]:
n=int(input ("enter any num:"))
for i in range(1,11):
    print(n*i)

6
12
18
24
30
36
42
48
54
60

In [11]:
# counting positive number.
#numbers=[1,-2,3,-4,5,6,-7,-8,9,10]
numbers=[1,-2,3,-4,5,6,-7,-8,9,10]
a = 0
for i in numbers:
    if i > 0 :
        a += 1
print("final count of positive number is: ",a)

final count of positive number is:  6

In [6]:
#print the number 1 to 5.
#output find out 1 2 3 4 5.
for i in range(1,6):
    print(i,end=" ")

1 2 3 4 5

In [7]:
# print square numbers from 1 to 5.
# expected output 1 4 9 16 25.
for i in range(1,6):
    print(i**2, end=" ")

1 4 9 16 25

In [8]:
# print even numbers from 1 to 10.
# expected output 2 4 6 8 10.
for i in range(1,11):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10