In [1]:
# WAP to print largest of three number entered by users.
a=int(input("enter a num:"))
b=int(input("enter b num:"))
c=int(input("enter c num:"))
if a>b and a>c:
    print("a is largest num")
elif b>a and b>c:
    print("b is largest num") 
elif c>a and c>b:
    print("c is largest num")

c is largest num

In [4]:
# wap to calculate the area of triangle.
base=float(input("enter a num:"))
hight=float(input("enter b num:"))
area=0.5*base*hight
print(area)

21.0

In [7]:
# wap that reverses a given string entered by user.
string=input("enter any str:")
print(string[::-1])

hgnis aymuas

In [8]:
# wap to print I AM THE BEST 10 items.
for i in range(1,11):
    print("I AM THE BEST")

I AM THE BEST
I AM THE BEST
I AM THE BEST
I AM THE BEST
I AM THE BEST
I AM THE BEST
I AM THE BEST
I AM THE BEST
I AM THE BEST
I AM THE BEST

In [15]:
# wap that uses a while loop to calculate the sum of all numbers from 1 to 100.
i=1
sum=0
while i <=100:
    sum +=i
    i +=1
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [17]:
# create a program that prints the multiplication table of a number by the user.
a=int(input("enter any num:"))
for i in range(1,11):
    print(a*i)

6
12
18
24
30
36
42
48
54
60

In [29]:
for i in range(5,11):
    for j in range(1,11):
        print(i,"x",j,"=",i*j)
        print("\n")

5 x 1 = 5


5 x 2 = 10


5 x 3 = 15


5 x 4 = 20


5 x 5 = 25


5 x 6 = 30


5 x 7 = 35


5 x 8 = 40


5 x 9 = 45


5 x 10 = 50


6 x 1 = 6


6 x 2 = 12


6 x 3 = 18


6 x 4 = 24


6 x 5 = 30


6 x 6 = 36


6 x 7 = 42


6 x 8 = 48


6 x 9 = 54


6 x 10 = 60


7 x 1 = 7


7 x 2 = 14


7 x 3 = 21


7 x 4 = 28


7 x 5 = 35


7 x 6 = 42


7 x 7 = 49


7 x 8 = 56


7 x 9 = 63


7 x 10 = 70


8 x 1 = 8


8 x 2 = 16


8 x 3 = 24


8 x 4 = 32


8 x 5 = 40


8 x 6 = 48


8 x 7 = 56


8 x 8 = 64


8 x 9 = 72


8 x 10 = 80


9 x 1 = 9


9 x 2 = 18


9 x 3 = 27


9 x 4 = 36


9 x 5 = 45


9 x 6 = 54


9 x 7 = 63


9 x 8 = 72


9 x 9 = 81


9 x 10 = 90


10 x 1 = 10


10 x 2 = 20


10 x 3 = 30


10 x 4 = 40


10 x 5 = 50


10 x 6 = 60


10 x 7 = 70


10 x 8 = 80


10 x 9 = 90


10 x 10 = 100

In [1]:
# wap to find the factorial of a num using a for loop.
num=int(input("enter any num:"))
fact=1
for i in range(1,num+1):
    fact=fact*i
    print(fact)

1
2
6
24
120

In [4]:
# create a program that takes the user's makes(out of 100) as input and prints their grade based on the following.
#grade a: marks >=90
#grade b: marks >=75 and <90
#grade c: marks >=50 and <75
#fail: marks <50
marks=int(input("enter any num:"))
if marks>=90:
    print("A")
elif marks>=75 and <90:
    print("B")
elif marks >=50 and <75:
    print("C")
elif marks >50:
    print("fail")

SyntaxError: invalid syntax (92039017.py, line 9)

In [8]:
# wap to check whether a num is positive ,negative, or zero.
n=int(input("enter any num:"))
if n>0:
    print("positive num")
elif n==0:
    print("zero num") 
else:
    print("negative num")

positive num

In [10]:
# wap to check if a year is leap year or not.
year=int(input("enter any num:"))
if year%4==0:
    print("leap year")
else:
    print("not leap year")

leap year

In [14]:
# wap tp print all even num between 1 to 50.
for i in range(1,51):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [17]:
ch=input("enter any alphabet:")
if ch in ('a','e','i','o','u','A','E','I','O','U'):
    print("vowel")
else:
    print("consonent")

consonent