In [2]:
set_1={1,2,6,"saumya","apple","5.6"}
print(type(set_1))
print(set_1)

<class 'set'>
{1, 2, '5.6', 6, 'apple', 'saumya'}

In [3]:
# create set useing by constructor.
fruits=set(["apple","mango","kiwi","orange"])
print(fruits)

{'orange', 'kiwi', 'mango', 'apple'}

In [4]:
# set operation.
# add elements.
fruits={"apple","mango","kiwi","orange"}
fruits.add("grapes")
print(fruits)

{'orange', 'kiwi', 'grapes', 'apple', 'mango'}

In [10]:
app={"google","whatsapp","zemato","facebook"}
app.remove("whatsapp")
print(app)

{'zemato', 'google', 'facebook'}

In [7]:
app={"google","whatsapp","zemato","facebook"}
app.discard("whatsapp")
print(app)

{'zemato', 'google', 'facebook'}

In [12]:
# set method.
#1 union- combine elements from two sets.
set1={1,2,3,4,5,6} 
set2={2,3,4,5,7,8}
c=set1.union(set2)
print(c)
# union alternative
c=set1|set2
print(c)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
# 2 intersection- commman elements
set_1={1,3,6,7,5,3}
set_2={1,4,5,7,9,0,3,2}
set_3=set_1.intersection(set_2)
print(set_3)
# intersection alternative
set_3=set_1&set_2
print(set_3)

{1, 3, 5, 7}
{1, 3, 5, 7}

In [16]:
# difference method- element present in the first set only but not in second set.
a={"saumya","saloni","monika","himu","vedika"}
b={"saumya","komal","saloni","kamal","abhishek"}
c=a.difference(b)
print(c)
# alternative difference
c=a-b
print(c)

{'himu', 'monika', 'vedika'}
{'himu', 'monika', 'vedika'}

In [19]:
# symmertic difference-elements in either set but not in both.
a={1,2,3,4,5,6,7}
b={9,8,21,10,11,13,3,2}
c=a.symmetric_difference(b)
print(c)
# alternative symmetric.
c=a^b
print(c)

{1, 4, 5, 6, 7, 8, 9, 10, 11, 13, 21}
{1, 4, 5, 6, 7, 8, 9, 10, 11, 13, 21}

In [20]:
# set iteration
numbers={1,2,3,4,5}
for i in numbers:
    print(i)

1
2
3
4
5

In [21]:
# set compreshesion
square={y**2 for y in range(1,6)}
print(square)

{1, 4, 9, 16, 25}

-create
-method
-setoperation
-union
-intersection
-difference
-symmetric difference
-issubset
-issupresent

In [3]:
set_1={1,3,4,5,9.9,"monika","True"}
print(set_1)

{1, 3, 4, 5, 'monika', 9.9, 'True'}

In [4]:
x={2,4,6,8,10,12,14,16,18,20}
print(x)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [5]:
x=set("hello")
print(x)

{'h', 'o', 'e', 'l'}

In [6]:
x=set(range(2,21,2))
print(x)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [8]:
data=set()
print(data)

set()

In [9]:
data.add(1)
data.add(2)
data.add(3)
data.add(4)
data.add(5)
print(data)

{1, 2, 3, 4, 5}

In [10]:
# discard method
data.discard(3)
print(data)

{1, 2, 4, 5}

In [15]:
# pop method
data.pop()
print(data)

{5}

In [13]:
# remove method
data.remove(2)
print(data)

{4, 5}

In [17]:
data.clear()
print(data)

set()

In [18]:
a={1,2,3,4,5}
b={4,5,6,7,8}
c={7,8,9,10}
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10, 7}

In [25]:
print(a.union(b))
print(a|b)
print(a.intersection(b))
print(a&b)
print(a.difference(b))
print(a-b)
print(a.symmetric_difference(b))
print(a^b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [27]:
# issuoerset()method returns True if all items in the specified set exists in the original set, otherwise it returns False.
print(a.issuperset(b))
print(a.issubset(b))

False
False