In [1]:
fruits=("apple","grapes","mango",33,22,9.0,33)
print(fruits)

('apple', 'grapes', 'mango', 33, 22, 9.0, 33)

In [2]:
a=(1,[2,3,4,5],(9,0,7,6),7) # this is nested tuple
print(a)

(1, [2, 3, 4, 5], (9, 0, 7, 6), 7)

In [4]:
# without perenthesis.
tuple_1=1,4,5,6,7
print(tuple_1)
print(type(tuple_1))

(1, 4, 5, 6, 7)
<class 'tuple'>

In [7]:
# using tuple constructor.
x=tuple(("saumya",88,"True",9.9))
print(x)
print(type(x))

('saumya', 88, 'True', 9.9)
<class 'tuple'>

In [8]:
#list convert into tuple.
list=[1,2,3,4,5]
tup_1=tuple(list)
print(tup_1)

(1, 2, 3, 4, 5)

In [12]:
# create a single element
a=("saumya",)
print(type(a))
print(a)

<class 'tuple'>
('saumya',)

In [15]:
# tuple indexing
tup_1=("saumya","monika","abhishek","gopal")
print(tup_1[0])
print(tup_1[3])
print(tup_1[-1])

saumya
gopal
gopal

In [20]:
# tuple sciling.
new_tuple=(10,20,30,40,50,60,70,80)
print(new_tuple[0:3])
print(new_tuple[0::2])
print(new_tuple[0::3])
print(new_tuple[::-1])

(10, 20, 30)
(10, 30, 50, 70)
(10, 40, 70)
(80, 70, 60, 50, 40, 30, 20, 10)

In [1]:
# tuple operation
# concatenate-join tuples
tup1=(2,3,4,5)
tup2=("a","b")
tup3=tup1+tup2
print(tup3)

(2, 3, 4, 5, 'a', 'b')

In [2]:
# Repetitive.
tup1=(1,2,3)
tup2=tup1*3
print(tup2)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [3]:
# cheacking for in item.
fruits=("apple","banana","orange","mango")
print("banana" in fruits)

True

In [4]:
# tuple iteration.
# using for loop.
fruit=("apple","banana","kiwi","orange")
for i in fruit:
    print(i)

apple
banana
kiwi
orange

In [5]:
# using while loop.
fruits=("apple","orange","kiwi")
i=0
while i <len(fruits):
    print(fruits[i])
    i +=1

apple
orange
kiwi

In [6]:
# tuple method
#1.count
color=("yello","pink","orange","green","green","pink")
print(color.count("green"))

2

In [7]:
#2.index
color=("yello","pink","orange","green","green","pink")
print(color.index("green"))

3

In [8]:
# tuple function.
#1.len
num=(1,3,4,5,6,7,7)
print(len(num))

7

In [10]:
# min
num=(1,2,4,5,6,7,99)
print(min(num))

1

In [11]:
# max
num=(1,3,4,5,6,7,7)
print(max(num))

7

In [13]:
# sort
num=(4,5,2,1,8,7,4)
print(sorted(num))

[1, 2, 4, 4, 5, 7, 8]

#2. sum
num=(1,3,4,5,6,7,7)
print(sum(num))

In [14]:
# tuple pack and unpack.
a="madhav"
b=54
c="engineer"
tup_pack=(a,b,c)
print(tup_pack)

('madhav', 54, 'engineer')

In [15]:
name,age,profession=tup_pack
print(name)
print(age)
print(profession)

madhav
54
engineer

In [20]:
# how to mutate/mpdify tuple
a=(1,3,5,6,3)
b=list(a)
print(b)
b[0]=100
print(b)

[1, 3, 5, 6, 3]
[100, 3, 5, 6, 3]